spring:
  application:
    name: crm-interaction-service
  
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20
          fetch_size: 50
        # Habilitar suporte a JSON nativo do Oracle com OSON
        dialect:
          oracle:
            oson_format_disabled: false
  
  datasource:
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: crm_user
    password: crm_password
    driver-class-name: oracle.jdbc.OracleDriver
  
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      bootstrap-servers: localhost:9092
      group-id: crm-interaction-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

server:
  port: 8082
  servlet:
    context-path: /

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.vivo.crm: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
